<h2>
	<large class="pl-3">
	<%= @survey.survey_name %>
	</large>
</h2>
<table class="table table-striped">
	<thead> Top Rated Question</thead>
	<tr><%= @top_rated_question %></tr>
</table> 
<a class="btn btn-primary" href="/surveys" role="button">Back</a>
