<h2>
	<large class="pl-3">
	View <%= pluralize(@respondents.count, "Respondent") %>
	</large>
</h2>
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="=col">Name</th>
			<th scope="=col">Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @respondents.each do |respondent| %>
		<tr>
			<td><%= respondent.respondent_name %></td>
			<td>
				<a href="/respondents/<%= respondent.id %>">View Surveys</a>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
<a class="btn btn-primary" href="/respondents/new" role="button">Create Respondent</a>
