<h2>
	<large class="pl-3">
	View <%= pluralize(@surveys.count, "Survey") %>
	</large>
</h2>
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="=col">Name</th>
			<th scope="=col">Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @surveys.each do |survey| %>
		<tr>
			<td><%= survey.survey_name %></td>
			<td>
				<a href="/responses/<%= @respondent.id %>/<%= survey.id %>">Respond</a> 
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
<a class="btn btn-primary" href="/respondents" role="button">Back</a>
