<!DOCTYPE html>
<html>
  <head>
    <title>Surveywebapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    	<a class="navbar-brand" href="/surveys">View Surveys</a>
    	<a class="navbar-brand" href="/surveys/new">Create Survey</a>
    </nav>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
